.nav-link{
  display: flex;
  list-style-type: none;
  padding: 3px ;
  text-align: center;
  justify-content: center;
  align-items: center; 
  background-color: aqua;
  
}
a:-webkit-any-link{
  color: green;
  text-decoration: none;
  padding-right: 50px;
  font-size: medium;
}

.nav-link .active{
  color: blue;
  font-weight: bold;
}
/* ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: chartreuse;
    font-weight: 700;
    color: darkblue;
  }
 
  
  ul {
    list-style-type: none;
    text-decoration: none;
    
    padding: 15px 20px;
    border-radius: 10px;
    background-color: chartreuse;
    font-weight: 700;
    color: darkblue;
  }
  .Nav-bar{
    background-color:cyan;
    padding: 5px;
  }
  ul li:hover{
    background-color: darkgreen;
    color: white;
  } */