body{
  background-color: skyblue;
}
.login-input{
  width: 400px;
  height: 250px;
  border: 1px solid green;
  border-radius: 10px;
  margin: 100px 500px;
  
}

.MuiInputBase-input-MuiOutlinedInput-input{
  background-color: white;
  margin: 15px 0px;
}